
body {
    background-color: ghostwhite;
}

h2{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#articleText{
    text-align: center;
}

h6{
    text-align: center;
    padding-bottom: 15px;
}

#navText {
    color: white;
}

#provider{
    text-align: center;
    border: gainsboro;
    border-style: solid;
    background-color: lavender;
}

#trash{
    color: red;
}

